
.navbar{
    justify-content: space-between;
}
span{
    padding-left: 1rem;
}
mat-drawer-container{
    height: 100% ;
}
mat-drawer,mat-drawer-content{
    padding:16px;
}
mat-drawer{
    background-color: palevioletred;
    width:200px
} 